.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

#container {
    display: flex;
    border: 5px solid black;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
}

.canvas {
    box-sizing: border-box;
    display: flex;
    flex: none;
    border: 1px dashed grey;
}

.button {
    position: absolute;
    height: 36px;
    right: 0;
    font-weight: 600;
}
